@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url("https://wallpaperaccess.com/full/866645.jpg");
    background-size: cover;
    color:white;
    background-repeat: no-repeat; 
} */